<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Mi Aplicación{% endblock %}</title>
    <link
      rel="stylesheet"
      href="../static/styles.css"
    />
  </head>
</head>
<body>
    <header>
        <nav>
            <ul id="ul">
                <li id="li"><a href="/">Inicio</a></li>
                <li id="li"><a href="/contacto">Contactanos</a></li>
                <li id="li"><a href="/productos">Productos disponibles</a></li>
                <li id="li"><a href="/sugerencias">Dejar una sugerencias</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>© 2025 TechNova. Todos los derechos reservados.</p>
    </footer>
</body>
</html>